<div class="card">
  <button (click)="removeForm.emit(formIndex)" type="button" class="btn-close position-absolute top-0 end-0 m-2"
          aria-label="Close"></button>
  <form [formGroup]="userForm">
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <div class="autocomplete-container">
            <input [appIsInvalid]="!userForm.get('country')?.valid" formControlName="country"
                   type="text" id="country" placeholder="Start typing..." class="form-control" name="country">
            <ng-container *ngIf="filteredSuggestions | async as suggestions">
              <ul class="list-group">
                @for (country of suggestions; track country) {
                  <li
                    class="list-group-item list-group-item-action"
                    (click)="listGroupItemPicked(country)"
                  >
                    {{ country }}
                  </li>
                }
              </ul>
            </ng-container>

          </div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input [appIsInvalid]="!userForm.get('username')?.valid" formControlName="username" type="text" id="username"
                 class="form-control" name="username">
        </div>
        <div class="mb-3">
          <label for="birthday" class="form-label">Birthday</label>
          <input [appIsInvalid]="!userForm.get('birthday')?.valid" formControlName="birthday" type="date" id="birthday"
                 class="form-control" name="birthday">
        </div>
      </form>
    </div>
  </form>

</div>
