<div class="card">
  <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Close"></button>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" id="country" class="form-control" name="country" ngModel>
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" class="form-control" name="username" ngModel>
      </div>
      <div class="mb-3">
        <label for="birthday" class="form-label">Birthday</label>
        <input type="date" id="birthday" class="form-control" name="birthday" ngModel>
      </div>
    </form>
  </div>
</div>
